.a{
    width: 1350px;
    height:200px;
    background-color: blueviolet;
}

.b{
    width: 1000px;
    height:500px;
    background-color: darkorange;
}

.c{
    width: 360px;
    height:500px;
    background-color: gold;
}

.wrap{
    display: flex;
}