
*{
    margin: 0;
    padding: 0;
}


header{
    width: 1350px;
    height: 200px;
    background-color: blue;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 1350px;
    height: 100px;
    background-color: gold;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 1000px;
    height: 400px;
    background-color: blueviolet;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside{
    width: 350px;
    height: 400px;
    background-color: darkorange;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
}

footer{
    width: 1350px;
    height: 100px;
    background-color: red;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

